* {
	box-sizing: border-box;
  }
/* estilização*/
html{
	background-image: radial-gradient(white 70%, #adadad);
	color: #ff6e5f;
	font-family: rockwell, sans-serif;
	font-weight: 700;
	font-style: normal;

}

body{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	margin: 30px auto;
}


.Slogan{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	width: 56%;
	margin-top: -30px;
	font-size: 25px;
	text-align: right;
	line-height: 55px;

}


#logo-maior{
	display: flex;
	align-items: center;
	margin: 0 auto;
}

#logo-maior:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.7));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.em-breve{
	margin: 50px 0;
	width: 56%;
	font-size: 22px;
	line-height: 5px;
	text-align: right;
	color: black;
}

.form{
	width: 36%;
	position: relative;
	height: 50px;

}

.form input{
	width: 100%;
	height: 100%;
	color: #ff6e5f;
	padding-top: 20px;
	border: none;
	
}


.form label{
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.form label::after{
	content: "";
	position: absolute;
	left: 0px;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #ff6e5f;
	transform: translateX(-150%);
}

.content-name{
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name{
	transform: translateY(-150%);
	font-size: 14px;
	color: aqua;
} 


.redes-sociais{

	margin: 30px auto;
	width: 120px;
}

#insta{
	display: inherit;
	width: 50px;
	float: left;
	margin-right: 20px;
}

#insta:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.5));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#face{
	display: block;
	width: 50px;
	float: right;
	margin: 0 auto;

}

#face:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.5));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.clearfix{
    clear:both
}

footer{
	display: table;
	padding-top: 160px;
	margin: 0 auto;
}