* {
	box-sizing: border-box;
  }
/* estilização*/
p::selection {
	background: #ff6e5f; /* WebKit/Blink Browsers */
  }
p::-moz-selection {
	background: #ff6e5f; /* Gecko Browsers */
  }
h1::selection {
	background: #212121; /* WebKit/Blink Browsers */
  }
h1::-moz-selection {
	background: #212121; /* Gecko Browsers */
  }

html{
	background-image: radial-gradient(white 70%, #adadad);
	color: #ff6e5f;
	font-family: rockwell, sans-serif;
	font-weight: 700;
	font-style: normal;

}

body{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	max-width: 30rem;
	min-width: 20rem;
	margin: 0.2rem auto;

}


.Slogan{
	display: flex;
	align-self: flex-end;
	font-size: 25px;
	font-size: 1.5em;
	text-align: right;
	line-height: 2em;

}
/* https://stackoverflow.com/questions/6490252/vertically-centering-a-div-inside-another-div */
.display{
position: relative;
	width: 100%;
	border: 2.3rem solid black;
}
 
#logo-maior{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

#modelos{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


#logo-maior:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.7));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.em-breve{
	height: 8rem;
	align-self: flex-end;
	margin: 20px 0 0;
	font-size: 22px;
	font-size: 1.4rem;
	line-height: 22px;
	line-height: 1.4rem;
	text-align: right;
	color: black;
}

.form{
	width: 36%;
	position: relative;
	height: 50px;
	overflow: hidden;
	background: transparent;

}

.form input{
	width: 100%;
	height: 100%;
	color: #ff6e5f;
	padding-top: 25px;
	border: none;
	outline: none;
	background: transparent;
	
}


.form label{
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.form label::after{
	content: "";
	position: absolute;
	left: 0px;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #ff6e5f;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
}

.contentname{
	position: absolute;
	bottom: 0.2rem;
	left: 0px;
	transition: all 0.3s ease;
}

.form input:focus + .labelname .contentname,
.form input:valid + .labelname .contentname{
	transform: translateY(-150%);
	font-size: 0.8rem;
	color: #000000;
} 

.form input:focus + .labelname::after,
.form input:valid + .labelname::after{
	transform: translateX(0%);

}


.redes-sociais{

	margin: 30px auto;
	width: 120px;
}

#insta{
	display: inherit;
	width: 50px;
	float: left;
	margin-right: 20px;
}

#insta:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.5));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#face{
	display: block;
	width: 50px;
	float: right;
	margin: 0 auto;

}

#face:hover{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(255, 110, 95, 0.5));
    filter: url(#drop-shadow-coral);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.clearfix{
    clear:both
}

footer{
	display: table;
	text-align: center;
	margin: 0 auto;
}